{% extends "layout.html" %}

{% block title %}Tilin luonti{% endblock %}

{% block content %}
    {% if session.username_in_use %}
        <p>Käyttäjätunnus on jo käytössä.</p>
    {% endif %}
    <form action="/account-creation" method="POST">
        <h3>Luo Käyttäjä:</h3>
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <p>Toista salasana:<br>
        <input type="password" name="password_again"></p>
        <p></p>
        <input type="checkbox" name="is_admin">admin</p>
        <p></p>
        <input type="submit" value="Luo käyttäjä">
    </form>
{% endblock %}