<title>KoeSovellus</title>
<h1>KoeSovellus</h1>
<ul>
    <img src="/static/lehtiku.png">
</ul>

<form action="/login" method="GET">
    <input type="submit" value="Kirjautuminen">
</form>

<br>


Tällä hetkellä sovelluksen alasivut ovat seuraavat:
<br>

/login : kirjautuminen (Ei tarkista mitään)
<br>
/hub-user : täytyy siirtyä /login sivun kautta
<br>
/hub-admin : pääsee kirjoittamalla osoiteriville.
<br>

<br>
/kurssi/-numero- : useampia kurssi-sivuja. Pääsee pelkästään /hub sivuilta
<br>
/kurssi/uusi : pääsee /hub-admin sivuilta
