<title>KoeSovellus</title>
<h1>Admin hub</h1>
<h2>Kokeet:</h2>
<form action="/kurssi/11" method="POST">
    TN2a
    <input type="hidden" name="mode" value="1">
    <input type="submit" value="muokkaa">
</form>

<form action="/kurssi/2" method="POST">
    Raja-arvot
    <input type="hidden" name="mode" value="1">
    <input type="submit" value="muokkaa">
</form>


<form action="/kurssi/1" method="POST">
    TN1
    <input type="hidden" name="mode" value="1">
    <input type="submit" value="muokkaa">
</form>

<br>

<form action="/kurssi/uusi" method="GET">
    <input type="submit" value="uusi koe">
</form>
