<title>KoeSovellus</title>
<h1>Hei {{ kt }}!</h1>
<h2>Kokeet:</h2>

<form action="/kurssi/11" method="POST">
    TN2a
    <input type="hidden" name="mode" value="0">
    <input type="submit" value="avaa">
</form>

<form action="/kurssi/2" method="POST">
    Raja-arvot
    <input type="hidden" name="mode" value="0">
    <input type="submit" value="avaa">
</form>


<form action="/kurssi/1" method="POST">
    TN1
    <input type="hidden" name="mode" value="0">
    <input type="submit" value="avaa">
</form>
