{% extends "layout.html" %}

{% block title %}Salasanan vaihtaminen{% endblock %}

{% block content %}
    <h1>Salasanan vaihtaminen</h1>
    {% if session.incorrectPassword %}
        <p>Vanha salasana oli väärin.</p>
    {% endif %}
    {% if session.notMatching %}
        <p>Uudet salasanat eivät ole samat.</p>
    {% endif %}
    {% if session.changeSuccessful %}
        <h2>Salasanan vaihto onnistui.</h2>
    {% else %}
        <form action="/change-password" method="POST">
            <p>Anna vanha salasana:<br>
            <input type="password" name="oldPassword" required minlength="8" maxlength="100"></p>
            <p>Anna uusi salasana:<br>
            <input type="password" name="newPassword" required minlength="8" maxlength="100"></p>
            <p>Anna uusi salasana uudelleen:<br>
            <input type="password" name="newPasswordAgain" required minlength="8" maxlength="100"></p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Vaihda salasana">
        </form>
    {% endif %}
{% endblock %}
