{% extends "layout.html" %}

{% block title %}Tilin luonti{% endblock %}

{% block content %}
    {% if session.username_in_use %}
        <p>Käyttäjätunnus on jo käytössä.</p>
    {% endif %}
    {% if message %}
        <h2>{{message}}</h2>
    {% endif %}
    <form action="/create-account" method="POST">
        <h3>Luo Käyttäjä:</h3>
        <p>Tunnus:<br>
        <input type="text" name="username" required minlength="3" maxlength="30"></p>
        <p>Salasana:<br>
        <input type="password" name="password" required minlength="8" maxlength="100"></p>
        <p>Toista salasana:<br>
        <input type="password" name="password_again" required minlength="8" maxlength="100"></p>
        <p></p>
        <input type="submit" value="Luo käyttäjä">
    </form>
    <p>On jo tunnus, <a href="/login">kirjaudu sisään</a></p>
{% endblock %}
