{% extends "layout.html" %}
{% block title %}Koe {{exam['examname']}} muokkaus{% endblock %}
{% block content %}
    <h1>Koe {{exam['examname']}} Esikatselu</h1>
    {% for exercise in exam['exercises'] %}
        <p>{{loop.index}}.) {{exercise['exercise']}}    {{exercise['points']}}p. </p>
        <br>
    {% endfor %}
    <form method="POST">
        <h3>Uusi tehtävä:</h3>
        <input type="hidden" name="argument" value="add">
        <textarea name= "exercise" rows="4" cols="50" required maxlength="400"></textarea>
        <p>Tehtävästä saatavat pisteet:</p>
        <input type="number" name="points" value="10" min="1" max="100">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lisää tehtävä">
    </form>
    <form method="POST">
        <h3>Poista tehtävä:</h3>
        <p>Poistettavan tehtävän numero:</p>
        {%set max = (exam['exercises'] | length) %}
        <input type="number" name="index" value="1" min="1" max="{{max}}">
        <input type="hidden" name="argument" value="remove">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Poista tehtävä">
    </form>
    <br>
    <p>Kokeen tila on 
        {% if exam['active'] %}
            aktiivinen ✔️
        {% else %}
            deaktiivinen ❌
        {% endif %}
    </p>
    <p>Vaihda kokeen aktiivisuustilaa:</p>
    <form style="display: inline;" method="POST">
        <input type="hidden" name="argument" value="activate">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Aktivoi koe">
    </form>
    <form style="display: inline;" method="POST">
        <input type="hidden" name="argument" value="deactivate">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Deaktivoi koe">
    </form>
{% endblock %}
