<table>
    <tr>
        <th>Nimi</th>
        <th>Aloitusavain</th>
        <th>Suoritettavissa</th>
        <th>Tarkastele vastauksia</th>
        <th>Muokkaa</th>
        <th>Poista</th>
    </tr>
    {% for exam in exams %}
    <tr>
        <td>{{ exam['examname'] }}</td>
        <td>{{ exam['start_key'] }}</td>
        <td>
            {% if exam['active'] == 1 %}
                ✔️
                <form style="display: inline;" action="/profile" method="POST">
                    <input type="hidden" name="argument" value="deactivate">
                    <input type="hidden" name="toggleExamname" value="{{ exam['examname'] }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Deaktivoi">
                </form>
            {% else %}
                ❌
                <form style="display: inline;" action="/profile" method="POST">
                    <input type="hidden" name="argument" value="activate">
                    <input type="hidden" name="toggleExamname" value="{{ exam['examname'] }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                    <input type="submit" value="Aktivoi">
                </form>
            {% endif %}
        </td>
        <td>
            <form style="display: inline;" action="/review-exam/{{ exam['examname'] }}" method="GET">
                <input type="submit" value="Tarkastele vastauksia">
            </form>
        </td>
        <td>
            <form style="display: inline;" action="/edit-exam/{{ exam['examname'] }}" method="GET">
                <input type="submit" value="Muokkaa">
            </form>
        </td>
        <td>
            <form style="display: inline;" action="/remove-exam/{{ exam['examname'] }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="submit" value="Poista">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
