{% extends "layout.html" %}
{% block title %}Koe {{exam}}{% endblock %}
{% block content %}
    <h1>Koe {{exam}}</h1>
    <form method="POST">
        {% for i in range(exercises | length) %}
            <p>{{i}}.) {{exercises[i]}}<br>
            {% set name = "exercise" + (i | string) %}
            <textarea name= "{{name}}" rows="4" cols="50" required maxlength="400"></textarea>
            <p>{{points[i]}}p<br>
        {% endfor %}
        <input type="submit" value="Palauta">
    </form>
{% endblock %}
