<!doctype html>
<link rel="stylesheet" href="../static/main.css">
<title>KoeSovellus - {% block title %}{% endblock %}</title>

<a style="text-align: left; float: left" href="/">KoeSovellus</a>
{% if session.username %}
    <a style="text-align: right; float: right" href="/profile">{{ session.username }}</a>
{% else %}
    <a style="text-align: right; float: right" href="/login">Kirjautuminen</a>
{% endif %}
<br>

<hr>

{% block content %}{% endblock %}

<br>

<hr>

<br>
Voit lähettää palautetta <a href="https://github.com/VehvilainenPooki/KoeSovellus/issues" target="_blank">tästä</a>
</div>
