{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
    <h1>Kirjautuminen</h1>
    {% if session.incorrectLogin %}
        <p>Käyttäjätunnus tai salasana oli väärin.</p>
    {% endif %}
    <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username" required maxlength="30"></p>
        <p>Salasana:<br>
        <input type="password" name="password" required maxlength="100"></p>
        <input type="submit" value="Kirjaudu">
    </form>
    <p>Eikö ole tunnusta, <a href="/create-account">luo tili</a></p>
{% endblock %}
