{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}
    <h1>Profiili</h1>
    {% if session.username %}
        <p>Olet kirjautunut käyttäjällä {{ session.username }}</p>
        <a style="position:absolute; top:40px; right:10px;" href="/logout">Kirjaudu ulos</a>
        <a style="position:absolute; top:60px; right:10px;" href="/change-password" >Vaihda salasana</a>
        <form action="/exam" method="POST">
            <input type="text" name="examname" placeholder="Kokeen nimi" required minlength="3" maxlength="20">
            <input type="text" name="start_key" placeholder="Avain" required minlength="3" maxlength="20">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Aloita koe">
        </form>
        <br>
        <br>
        <h2>Suoritukset:</h2>
        {% set search_action = url_for(request.endpoint) %}
        {% include "search-bar.html" with context %}
        {% include "user-attempt-table.html" with context %}
        <br>
        <br>
        {% if session.admin %}
            <hr>
            <h2>Admin työkalut</h2>
            <form action="/toggle-admin" method="GET">
                <input type="submit" value="Hallitse tilejä">
            </form>
            <br>
            <br>
            <h3>Kokeet:</h3>
            {% set search_action = url_for(request.endpoint) %}
            {% include "search-bar.html" with context %}
            {% include "exam-table.html" with context %}
            <form action="/create-exam" method="GET">
                <input type="submit" value="Luo koe">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
