{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}
    <h1>Profiili</h1>
    {% if session.username %}
        <p>Olet kirjautunut käyttäjällä {{ session.username }}</p>
        <a style="position:absolute; top:40px; right:10px;" href="/logout">Kirjaudu ulos</a>
        <a style="position:absolute; top:60px; right:10px;" href="/change-password" >Vaihda salasana</a>
        <form action="/exam" method="POST">
            <input type="text" name="examname" placeholder="Kokeen nimi" required minlength="3" maxlength="20">
            <input type="text" name="start_key" placeholder="Avain" required minlength="3" maxlength="20">
            <input type="submit" value="Aloita koe">
        </form>
        <br>
        <br>
        {% if session.admin%}
            <hr>
            <h2>Admin työkalut</h2>
            <br>
            <form action="/account-creation" method="GET">
                <input type="submit" value="Tilin luonti">
            </form>
            <br>
            <form action="/create-exam" method="GET">
                <input type="submit" value="Kokeen luonti">
            </form>
            <br>
            <hr>
            <h3>Kokeet:</h3>
            {% for exam in exams %}
                {{exam}}
                <form style="display: inline;" action="/review-exam/{{exam}}" method="GET">
                    <input type="hidden" value="{{exam}}">
                    <input type="submit" value="Tarkastele vastauksia">
                </form>
                <form style="display: inline;" action="/edit-exam/{{exam}}" method="GET">
                    <input type="hidden" value="{{exam}}">
                    <input type="submit" value="Muokkaa">
                </form>
                <form style="display: inline;" action="/remove-exam/{{exam}}" method="GET">
                    <input type="hidden" value="{{exam}}">
                    <input type="submit" value="Poista">
                </form>
                <br>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
