{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
    <h1>Admin-oikeuksien hallitseminen</h1>
    <form method="POST" action="/toggle-admin">
        {% if filter %}
            <input type="text" name="filter" value="{{ filter }}" />
        {% else %}
            <input type="text" name="filter" />
        {% endif %}
        <input type="hidden" name="argument" value="search">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Hae">
    </form>
    <table>
        <tr>
            <th>Käyttäjänimi</th>
            <th>Admin-oikeudet</th>
        </tr>
        {% if users %}
            {% for user in users %}
            <tr>
                <td>{{ user['username'] }}</td>
                <td>
                    {% if user['is_admin'] == 1 %}
                        ✔️
                        <form style="display: inline;" action="/toggle-admin" method="POST">
                            <input type="hidden" name="argument" value="remove">
                            <input type="hidden" name="toggleUsername" value="{{ user['username'] }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="submit" value="Deaktivoi">
                        </form>
                    {% else %}
                        ❌
                        <form style="display: inline;" action="/toggle-admin" method="POST">
                            <input type="hidden" name="argument" value="add">
                            <input type="hidden" name="toggleUsername" value="{{ user['username'] }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="submit" value="Aktivoi">
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Käyttäjiä</td>
                <td>ei löytynyt</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
